body {
  margin: 0;
  padding-left: 10px;
}

#mainHead {
  font-size: 100px;
}

#information {
  display: grid;
  grid-template-columns: 100px auto;
  background-color: #9e9d9d;
  width: 60vw;
  height: auto;
  padding: 10px;
}

#certification,
#introdution,
#interview {
  margin-top: 10px;
  background-color: #9e9d9d;
  width: 60vw;
  height: auto;
  padding: 10px;
}

#textArea {
  display: grid;
  grid-template-columns: 100px auto;
}

.head,
.inputSpace {
  margin-bottom: 10px;
}

#certifiAdd,
#introAdd,
#interviewAdd {
  float: right;
  margin-right: 10px;
}

.certifiText,
.introText,
.interviewText {
  width: 50vw;
  height: 20vh;
  resize: none;
}

.certifiContent,
.introContent,
.interviewContent {
  margin-bottom: 10px;
}
