body {
  margin: 0;
  padding-left: 10px;
  background: rgba(233, 228, 233, 0.788);
}
input,
textarea {
  margin-bottom: 10px;
}

#mainHead {
  font-size: 100px;
}

#print {
  position: absolute;
  top: 10;
  right: 0;
  width: 100px;
}

#information {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: #656fcf;
  width: 800px;
  height: auto;
  padding: 10px;
}

#default {
  resize: both;
  width: 100px;
  height: 100px;
}

#pictureArea {
  text-align: -webkit-center;
}
#real-input {
  display: none;
}

#imagePreview {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#photo {
  resize: both;
  width: 100px;
  height: 100px;
}
#career,
#certification,
#introdution,
#interview {
  margin-top: 10px;
  background-color: #656fcf;
  width: 800px;
  height: auto;
  padding: 10px;
}

#textArea {
  display: grid;
  grid-template-columns: 100px auto;
}

.head {
  margin-bottom: 14px;
}
.addButton {
  float: right;
  margin-right: 10px;
}

.certifiText,
.introText,
.interviewText {
  width: 700px;
  height: 20vh;
  resize: none;
}

.certifiContent,
.introContent,
.interviewContent {
  margin-bottom: 10px;
}

.careerArea,
.certifiArea,
.introArea,
.interview {
  margin-bottom: 10px;
}
